@import "../../../../styles/variables/index";

.home-container{
  width: 100%;
  margin: 210px 0;

  &__careerSection{
    width: 100%;
    background-color: $background-skyblue;
    margin-top: 100px;
  }

  &__career, &__profile, &__feature{
    display: flex;
    width: 76%;
    padding: 32px 12%;
    align-items: center;
  }
}